.formulario__titulo {
    text-align: start;
}
#pacotes {
    margin-top: 100px;
}
#botao-agendar {
    display: flex;
    justify-content: start;
}
.invisivel{
	display: none;
}
.fadeOut{
	opacity: 0;
	transition: 0.5s;
}
