.pagina-titulo {
    margin: 50px 0;
    /*background-color: rgba(199, 233, 91, 0.5);*/
    background-color: 557220;
    padding: 20px;
    margin-bottom: 50px;
}
#imagem-login-administrador{
    width: auto;
    height: auto;
  }
.formulario {
    background-image: url(../imagens/Fundo.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#relatorios, #atualização-conteudo{
    display: flex;
    justify-content: space-evenly;
}
.relatorios,.atualizacao,.funcionario,.despesas {
    margin-bottom: 100px;
}
#relatorios,#atualizacao-conteudo,#funcionario-conteudo,.despesas >img {
    margin-bottom: 100px;
}
#imagem__relatorios {
    width: 20%;
}
.atualizacao-conteudo {
    margin: 1%;

}
#imagem__servicosEpacotes{
    width: 30%;
}
#imagem__funcionario, #imagem__despesa{
    width: 50%;
}