/* estiliza  todas as páginas do sites */

/* 1. Css para as pesquisas da página */
.pesquisa {
  padding: 20px;
  margin: 50px;
  background-color: whitesmoke;
}
.pesquisa__titulo,
.pagina-titulo {
  color: #557220;
  margin-bottom: 20px;
  font-size: 30px;
  margin-top: 0;
}
.pagina-titulo {
  font-size: 40px;
  margin: 70px 0;
}
.pesquisa__cliente {
  text-align: left;
}
.pesquisa__label {
  color: #557220;
  margin-bottom: 0;
  font-size: 25px;
  font-weight: 600;
}
.pesquisa__input {
  font-size: 20px;
  padding: 10px;
  width: 70%;
  border: none;
  background-color: #ecfdb8;
  margin-right: 5%;
}

.pesquisa__button a,
button a {
  text-decoration: none;
  font-weight: 600;
  color: #557220;
}
#agendar-servicos {
  display: inline-flex;
}
#pesquisa__horario {
  text-align: left;
  margin-bottom: 50px;
}

#imagem-lupa {
  width: 55px;
}

/*2. Css para todos os botões*/
.btn-botoes,
#btn-voltar,
.pesquisa__button {
  width: 20%;
  padding: 1.5%;
  font-size: 25px;
  background-color: #e5fe96;
  border-style: none;
  color: #557220;
}
#botoes,
#botoes__centralizados {
  margin-top: 50px;
  display: flex;
}
#botoes {
  justify-content: space-around;
}
#botoes__centralizados {
  justify-content: space-evenly;
  margin-bottom: 50px;
}
#btn-voltar {
  background-color: #557220;
}
#btn-voltar a {
  color: #e5fe96;
}

/*-----------------------------------------------------------------------------*/
/* 3. fundo da páginas*/

.formulario__cadastro,
.formulario__pagamento {
  text-align: center;
  background-image: url(../imagens/Cadastro_fundo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px 100px;
  padding: 50px;
}

/*4. Formulários*/

.formulario__titulo {
  font-size: 30px;
  margin-top: 20px;
  color: #557220;
}

.formulario__cliente {
  text-align: left;
  margin: 0 20px;
}

/* 5. Campos das páginas */
.campo__nome-id,
.formulario__cliente > #campo__dados-pet,
.campo__nome-pet__id-tutor,
.campo__dados-tutor,
.campo__pet-nome-id,
#campo__label-pesquisa div,
#campo__servico,
#campo__horario,
#campo__valor {
  display: flex;
}
/*6.  Individualidades dos Campos*/
.campo__dados-tutor {
  margin-bottom: 50px;
}
.campo__dados-tutor > #contato {
  margin-left: 100px;
}

#campo__nome-tutor,
#campo__id-tutor {
  display: block;
}

#campo__id-tutor {
  margin-left: 30px;
}
#formulario__label,
#autorizacao {
  color: #557220;
  font-size: 25px;
}
#campo__telefones {
  display: flex;
  margin-bottom: 20px;
}
#campo__telefones > #telefone {
  margin-left: 50px;
}
#campo__botao {
  margin-left: 400px;
}
#campo__botao > button {
  width: 200px;
  margin-bottom: 20px;
}
#campo__autorizacao {
  margin-bottom: 20px;
}
#campo__caracteristicas-pet > div {
  display: flex;
  justify-content: space-evenly;
}

/* campos da página serviços*/
.campo-servico-horario {
  margin: 0 150px;
}
#campo__servico {
  justify-content: space-evenly;
}
#campo__horario,
#campo__servico,
#campo__valor {
  margin-bottom: 20px;
}
#campo__horario {
  justify-content: space-evenly;
}
#campo__valor {
  justify-content: center;
  margin-top: 50px;
}

/* Pagamentos em geral 

.formulario__pagamento {
  text-align: center;
  margin: 20px 100px;
  padding: 50px;
} */
#campo__servico-contratado,
#campo__forma-de-pagamento {
  display: flex;
  justify-content: start;
}
#campo__preco {
  margin-left: 30px;
}
#campo__total {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
#servico-cadastrado,
#forma_pagamento {
  width: 700px;
  padding: 10px;
  font-family: 20px;
}

/* 7. Campo de autorização do Cadastro*/
#autorizacao {
  font-size: 20px;
}

/* 8. Todos os inputs das páginas */
.input__nome,
.input__id,
.input__endereco,
.input__email,
.input__whatsapp,
.input__telefone,
.input__pet,
.input__pet-raca,
.input__caracteristicas,
.input__dados-tutor,
.input_valor,
#servico-cadastrado,
#forma_pagamento {
  color: black;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

/* 9. Pecularidades dos inputs */
.input__nome {
  width: 700px;
}

.input__endereco {
  width: 800px;
}
.input__email {
  width: 850px;
}
.input__id {
  background-color: #b5d453;
  width: 100px;
  color: rgb(247, 238, 238);
  text-align: center;
  border: none;
}
.input__whatsapp,
.input__telefone {
  width: 200px;
}
.input__dados-tutor {
  width: 600px;
}
.input_valor {
  padding: 10px;
}

/* 9.1. imputs dos pets */

.input__pet-raca,
.input__pet {
  width: 700px;
}
.input__caracteristicas {
  width: 250px;
}
/* inputs da página de serviços*/
#servico-opcao {
  width: 500px;
  padding: 10px;
}
#data_servico,
#horario_servico {
  width: 200px;
  padding: 10px;
}

/* Pesquisas das páginas */
#pesquisa-id-tutor {
  width: 40px;
  height: auto;
  margin-left: 10px;
  align-self: center;
}

#pesquisa {
  width: 50px;
  flex-wrap: wrap;
}

#id-pet {
  margin-left: 40px;
}

/*pagina Cadastrados dados do pets*/
#pets-cadastatos__cabecalho,
#agendados__cabecalh,
#administrativo__cabecalho {
  background-color: #ecfdb8;
  text-align: center;
}
.pets-cadastrados__colunas,
.agenda__colunas,
.administrativo__colunas {
  color: #557220;
  font-size: 22px;
  padding: 10px 30px;
  text-align: center;
}
.agenda__colunas {
  text-transform: uppercase;
}
#pets-cadastrados,
#agenda,
#administrativo {
  margin-bottom: 30px;
  width: 1000px;
}
.pets-cadastrados__dados,
.agenda__dados,
.tfoot__label,
.tfoot__dados,
.despesa__nome,
.despesa__id,
.despesa__valor,
.despesa__data,
.servico__data,
.funcionario__nome,
.funcionario__id,
.funcionario__cargo,
.funcionario__salario,
.servico__total,
.funcionario__inicio,
.servico__nome,
.servico__id,
.vendas__nome,
.vendas__produto,
.servico__pet,
.vendas__data,
.vendas__quantidade,
.vendas__unitario,
.vendas__total, 
.pacote__nome, 
.pacote__id {
  background-color: #f6ffdc;
  font-size: 20px;
  color: black;
}
#imagem_tabela-editar,
#imagem_tabela-excluir {
  width: 50px;
}
#pets-cadastrados__total {
  display: inline;
  background-color: #f6ffdc;
  padding: 20px 100px;
}
/* Agendamentos */
.agendamentos {
  margin: 0 200px;
}
<<<<<<< HEAD
#imagem__agendamentos,
#imagem-venda {
  width: 600px;
=======
#imagem__agendamentos {
  width: 400px;
  height: auto;
  text-align: center;
}

#imagem-venda{
  width: 350px;
>>>>>>> 2d077e8fafcc0c24e02a379295312cfdbee5c5dd
  height: auto;
  text-align: center;
}
/* Servicos e pacotes */
.serviçosEpacotes,
.pacotes {
  margin: 50px 0;
}

.serviçosEpacotes-conteudo > div {
  display: flex;
  justify-content: space-evenly;
  width: 65%;
  margin: 0 250px;
}

<<<<<<< HEAD
#imagens__servicosEpacotes {
  width: 300px;
=======
#imagens__servicosEpacotes{
  width: 250px;
>>>>>>> 2d077e8fafcc0c24e02a379295312cfdbee5c5dd
}
#imagens__servicosEpacotes a:hover {
  border: #557220;
}
<<<<<<< HEAD
#imagens__pacotes {
  width: 350px;
=======
#imagens__pacotes{
  width: 200px;
>>>>>>> 2d077e8fafcc0c24e02a379295312cfdbee5c5dd
}
/* Administrativo*/
.tfoot__dados,
.tfoot__label {
  color: #557220;
  background-color: #ecfdb8;
}
