/* estiliza  todas as páginas do sites */

/* 1. Css para as pesquisas da página */
#cabecalho__logo {
  width: 50%;
}
.pesquisa, pesquisa__pet {
  padding: 20px;
  margin: 50px;
  background-color: whitesmoke;
}
.pesquisa__pet {
  width: 70%;
}

.pesquisa__cliente {
  text-align: left;
}
.pesquisa__label, .pacotes__label {
  color: #557220;
  margin-bottom: 0;
  font-size: 25px;
  font-weight: 600;
}
.pesquisa__input {
  font-size: 20px;
  padding: 10px;
  width: 60%;
  border: none;
  background-color: #ecfdb8;
  margin-right: 5%;
}
.pagina-titulo {
  font-size: 40px;
  margin: 40px 0;
}

.pesquisa__button a,
button a {
  text-decoration: none;
  font-weight: 600;
  color: #557220;
}
#pesquisa__horario {
  text-align: left;
  margin-bottom: 50px;
}

#imagem-lupa {
  width: 55px;
}

/*2. Css para todos os botões*/
.btn-botoes,
#btn-voltar,
.pesquisa__button {
  width: 20%;
  padding: 1.5%;
  font-size: 25px;
  background-color: #e5fe96;
  border-style: none;
  color: #557220;
}
.btn-botoes,
#btn-voltar{
  margin: 2% 0;  
}
#btn-cadastrar {
  width: 40%;
}
pesquisa__cadastro {
  width: 50%;
  padding: 50%;
}
#botoes,
#botoes__centralizados {
  display: flex;
}
#botoes {
  justify-content: space-around;
}
#botoes__centralizados {
  justify-content: space-evenly;
  margin-bottom: 50px;
}
#btn-voltar {
  background-color: #557220;
}
#btn-voltar a {
  color: #e5fe96;
}

/*-----------------------------------------------------------------------------*/
/* 3. fundo da páginas*/

.formulario__cadastro,
.formulario__pagamento {
  text-align: center;
  background-image: url(../imagens/Cadastro_fundo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px 100px;
  padding: 50px;
}

/*4. Formulários*/

.formulario__titulo {
  font-size: 30px;
  margin-top: 20px;
  color: #557220;
}

.formulario__cliente, .compra-conteudo{
  text-align: left;
  margin: 0 20px;
}

/* 5. Campos das páginas */
.campo__nome-id,
.formulario__cliente > #campo__dados-pet,
.campo__nome-pet__id-tutor,
.campo__dados-tutor,
.campo__pet-nome-id,
.campo_funcao,
.campo__servico,
.campo__pacotes,
.campo__produto,
.campo__produto-preco,
#campo__estoque,
#campo__label-pesquisa div,
#campo__horario,
#campo__horario-agendar-pacote,
#campo__valor {
  display: flex;
}
/*6.  Individualidades dos Campos*/
.campo__dados-tutor {
  margin-bottom: 50px;
}
.campos, .campo__dados-tutor > #contato  {
  margin-left: 100px;
}

#campo__nome-tutor,
#campo__id-tutor {
  display: block;
}

#campo__id-tutor, .campo__produto :nth-child(2), .campo__produto-preco :nth-child(2)   {
  margin-left: 30px;
}
#formulario__label,
#autorizacao {
  color: #557220;
  font-size: 25px;
}
#campo__telefones {
  display: flex;
  margin-bottom: 20px;
}
#campo__telefones > #telefone {
  margin-left: 50px;
}
#campo__botao {
  margin-left: 400px;
}
#campo__botao > button {
  width: 200px;
  margin-bottom: 20px;
}
#campo__caracteristicas-pet > div {
  display: flex;
  justify-content: space-evenly;
}

/* campos da página serviços*/
.campo-servico-horario {
  margin: 0 150px;
}
#campo__horario,
#campo__servico,
#campo__valor, 
#campo__horario-agendar-pacote,
#campo__autorizacao{
  margin-bottom: 20px;
}
#campo__horario{
  justify-content: space-evenly;
}
#campo__horario-agendar-pacote {
  justify-content: space-around;
  align-items: center;
  margin-left: 100px;
  margin-right: 60px;
 
}
#campo__servico {
  display: block;
}
#campo__valor {
  justify-content: center;
  margin-top: 50px;
}
#campo__despesas {
  width: 90%;
}
/* Pagamentos em geral 

.formulario__pagamento {
  text-align: center;
  margin: 20px 100px;
  padding: 50px;
} */
#campo__servico-contratado,
#campo__forma-de-pagamento {
  display: flex;
  justify-content: start;
}
#campo__preco {
  margin-left: 30px;
}
#campo__total {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
#servico-cadastrado,
#forma_pagamento {
  width: 700px;
  padding: 10px;
  font-family: 20px;
}
#forma_pagamento {
  width: 100%;
}

/* 7. Campo de autorização do Cadastro*/
#autorizacao {
  font-size: 20px;
}

.cadastro__conteudo{
  display: flex;
  justify-content: space-evenly;
}

/* 8. Todos os inputs das páginas */
.input__nome,
.input__nome-cadastro,
.input__endereco,
.input__endereco-cadastro,
.input__id,
.input__email,
.input__email-cadastro,
.input__especie-pet,
.input__whatsapp,
.input__telefone,
.input__pet,
.input__pet-raca,
.input__caracteristicas,
.input__dados-tutor,
.input__despesa,
.input__preco, 
.input__salario, 
.input__funcao, 
.input__quantidade, 
.input__valor, 
.input-valor-total,
.input__total,
.input__pacotes,
.input__produto,
.input__produto-total,
.input__quantidade,
#input-valor-total, 
#input__servico, 
#input-pet-nome,
#servico-cadastrado,
#filtro-busca,
#forma_pagamento {
  color: black;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

/* 9. Pecularidades dos inputs */
.input__nome, .input__nome-cadastro, #input-pet-nome{
  width: 200%;
}
.input__endereco-cadastro, .input__email-cadastro {
  width: 72%;
}
.input__endereco {
  width: 100px;
}
.input__email {
  width: 850px;
}
.input__id {
  background-color: #b5d453;
  width: 100px;
  color: rgb(247, 238, 238);
  text-align: center;
  border: none;
  margin-left: 20px;
}
.input__whatsapp,
.input__telefone {
  width: 200px;
}
.input__dados-tutor, #input__servico {
  width: 600px;
}
/* 9.1. inputs dos pets */

.input__pet-raca,
.input__pet {
  width: 700px;
}
.input__caracteristicas {
  width: 250px;
}
.input__especie-pet {
  width: 55%;
}
/* inputs da página de serviços*/
#servico-opcao, .servico-opcao{
  width: 500px;
  padding: 10px;
}
.input__preco{
  width: 50%;
}
.input__quantidade, .input__despesa {
  width: 100%;
}
.input__pacotes, .input__valor {
  width: 30%;
}
.input__quantidade, .input__produto-total{
  width: 100px;
}
.input__produto {
  width: 90%;
}
#data_servico,
#horario_servico {
  width: 200px;
  padding: 10px;
}

/* Pesquisas das páginas */
#pesquisa-id-tutor {
  width: 40px;
  height: auto;
  margin-left: 10px;
  align-self: center;
}

#pesquisa {
  width: 50px;
  flex-wrap: wrap;
}

#id-pet {
  margin-left: 40px;
}

/*pagina Cadastrados dados do pets*/
#pets-cadastatos__cabecalho,
#agendados__cabecalho,
#pacote__cabecalho,
#administrativo__cabecalho {
  background-color: #ecfdb8;
  text-align: center;
}
#botao-filtrar {
  margin: 0; 
}
.pets-cadastrados__colunas,
.agenda__colunas,
.administrativo__colunas, 
.pacote__colunas{
  color: #557220;
  font-size: 22px;
  padding: 10px 30px;
  text-align: center;
  background-color: #e5fe96;
}
.agenda__colunas, .pacote__colunas{
  text-transform: uppercase;
}
#pets-cadastrados,
#agenda, #pacote,
#administrativo {
  margin-bottom: 30px;
  width: 1000px;
}
.pets-cadastrados__dados,
.pacote__dados,
.agenda__data,
.agenda__horario,
.agenda__nomePet,
.agenda__nomeCliente,
.agenda__pagamento,
.agenda__servico,
.agenda__excluir,
.tfoot__label,
.tfoot__dados,
.pacotes__pet, 
.pacotes__nome,
.pacotes__id,
.pacotes__valor,
.pacotes__data,
.pacotes__total,
.despesa__nome,
.despesa__id,
.despesa__valor,
.despesa__data,
.despesa__total,
.funcionario__nome,
.funcionario__id,
.funcionario__cargo,
.funcionario__salario,
.funcionario__inicio,
.funcionario__total,
.servico__total,
.servico__data,
.servico__nome,
.servico__pet,
.servico__id,
.servico__valor,
.relatorio__descricao,
.vendas__data,
.vendas__nome,
.vendas__produto,
.vendas__quantidade,
.vendas__unitario,
.vendas__total, 
.vendas__dados,
.pacote__nome, 
.pacote__id,
.estoques__produto,
.estoques__id,
.estoques__quantidade,
.estoques__unitario,
.estoques__total,
.estoques__completo,
.clientes__nome, 
.clientes__id, 
.clientes__produtos,
.clientes__servicos,
.clientes__pacotes,
.clientes__total,
.administrativo__botoes {
  background-color: #f6ffdc;
  font-size: 20px;
  color: black;
}
#imagem_tabela-editar,
#imagem_tabela-excluir {
  width: 50px;
}
#pets-cadastrados__total {
  display: inline;
  background-color: #f6ffdc;
  padding: 20px 100px;
}
.venda {
  margin-bottom: 50px;
}
/* Agendamentos */

#imagem__agendamentos, #imagem-venda, #imagem__estoque{
  height: 300px;
  text-align: center;
}

#imagem__cadastro, #imagem_serviçosEpacotes{
  width: 40%;
}

/* Servicos e pacotes */
.serviçosEpacotes,
.pacotes {
  margin: 50px 0;
}

.serviçosEpacotes-conteudo > div {
  display: flex;
  justify-content: space-evenly;
  width: 65%;
  margin: 0 250px;
}

#imagens__servicosEpacotes{
  width: 275px;
  height: auto;
}
#imagens__servicosEpacotes a:hover {
  border: #557220;
}
#imagens__pacotes {
  width: 250px;
  height: auto;
}
.pacotes__conteudo{
  display: flex;
  justify-content: space-evenly;
}
/* Administrativo*/
.tfoot__dados,
.estoques__completo,
.clientes__total,
.despesa__total,
.funcionario__total,
.pacotes__total,
.servico__total,
.vendas__dados,
.tfoot__label {
  color: #557220;
  background-color: #ecfdb8;
}
#adicionar__campo {
  text-align: left;
}
#funao_conteudo {
  display: inline-block;
}