<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../imagens/cadeado.png" />
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/tutor&pet.css">
    <link rel="stylesheet" href="../css/administrativo.css">
    <title>ParkVet - Administrativo - Despesas</title>
  </head>
  <body>
    <main>
      <header class="cabecalho">
        <img
        id="cabecalho__logo__administrador"
        src="../imagens/cadeado.png"
        alt="Logo do ParkVet"
      />
        <div>
          <h1 class="cabecalho_principal">ParkVet Manager</h1>
          <p class="cabecalho__subtitulo">
            O administrador inteligente do seu Pet Shop
          </p>
          <p class="cabecalho__titulo">ParkVet - Administrador</p>
        </div>
      </header>
      
      <nav >
        <ul class="navegacao">
          <li><a href="./1-relatorios.html">Relatórios</a></li>
          <li><a href="./2-ServiçosEpacotes.html">Serviços e Pacotes</a></li>
          <li><a href="./3-funcionario.html">Funcionários</a</li>
          <li><a href="./4-despesas.html">Despesas</a></li>
          <li><a href="./5-estoques.html">Estoque</a></li>
        </ul>
      </nav>

      <h2 class="pagina-titulo">Despesas</h2>
      <section class="despesas">
          <img src="../imagens/despesas.png" alt=" Alteração de Despesas da empresa" id="imagem__despesa">
          <div id="botoes">
            <button id="btn-voltar"><a href="./administrativo-login-index.html" >Sair</a></butto>
            <button class="btn-botoes"><a href="./cadastrar_despesa.html">Cadastrar</a></button>
          </div>
      </section>

      <footer>
        <img class="footer__logo" src="../imagens/LogoPetVet.png" alt="" />
        <p classs="footer__titulo">PetVet Manager 2021</p>
        <p class="footer__subtitulo">&copy; All rights reserved</p>
      </footer>
    </main>
  </body>
</html>
