<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ParkVet - Manager</title>
    <link rel="icon" href="../../Public/imagens/LogoPetVet.png" />
    <link rel="stylesheet" href="../../Public/css/style.css" />
    <link rel="stylesheet" href="../../Public/css/tutor&pet.css" />
  </head>
  <body>
    <main>
      <header class="cabecalho">
        <a href="./3-funcionario.html"><img
          id="cabecalho__logo"
          src="../../Public/imagens/LogoPetVet.png"
          alt="Logo do ParkVet"
        /></a>
        <div>
          <h1 class="cabecalho_principal">ParkVet Manager</h1>
          <p class="cabecalho__subtitulo">
            O administrador inteligente do seu Pet Shop
          </p>
          <p class="cabecalho__titulo">ParkVet - Administrativo</p>
        </div>
      </header>

      <section class="formulario__cadastro">
        <h2 class="formulario__titulo">Cadastro de Funcionários</h2>
        <form action="#" class="formulario__cliente">
          <div class="campo__nome-id">
            <div id="funcionario_nome">
              <label for="tutor-nome" id="formulario__label">Nome Completo</label
              ><br />
              <input
                type="text"
                id="despesa_descricao"
                placeholder="Arthur da Silva Passos"
                class="input__nome"
              />
            </div>
            <div id="campo__id-tutor">
              <label for="matricula" id="formulario__label">Matrícula:</label
              ><br />
              <input
                type="number"
                id="matricula"
                placeholder="001"
                class="input__id" 
                disabled
              />
            </div><br>
            
          </div>
          
          <div id="funao_conteudo">
            <label for="valor" id="formulario__label">Função:</label>
          <div>
              <input type="text" id="valor" class="input__funcao" placeholder="Veterinário(a)">  
          </div>
          </div>
          <div id="funao_conteudo">
            <label for="valor" id="formulario__label">Salario:</label>
            <div>
              <input type="text" id="valor" class="input__salario" placeholder="3.000,00">  
            </div>
          </div>
          <div>
              <label for="Pagamento" id="formulario__label">Salário:</label><br>
              <input type="date" id="horario_servico"/>
          </div>
        </form>
        <div id="botoes">
          <button id="btn-voltar"><a href="./3-funcionario.html">Voltar</a></button>
          <button class="btn-botoes"><a href="./relatorio_funcionarios.html">Salvar</a></button>
      </div>
      </section>

      <footer>
        <img class="footer__logo" src="../../Public/imagens/LogoPetVet.png" alt="" />
        <p classs="footer__titulo">ParkVet Manager 2021</p>
        <p class="footer__subtitulo">&copy; All rights reserved</p>
      </footer>
    </main>
  </body>
</html>