<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ParkVet - Manager</title>
    <link rel="icon" href="../../Public/imagens/cadeado.png" />
    <link rel="stylesheet" href="../../Public//css/style.css"/>
    <link rel="stylesheet" href="../../Public/css/tutor&pet.css">
  </head>
  <body>
    <main>
        <header class="cabecalho">
          <a href="./1-relatorios.html"><img
            id="cabecalho__logo"
            src="../../Public/imagens/LogoPetVet.png"
            alt="Logo do ParkVet"
          /></a>
          <div>
            <h1 class="cabecalho_principal">ParkVet Manager</h1>
            <p class="cabecalho__subtitulo">
              O administrador inteligente do seu Pet Shop
            </p>
            <p class="cabecalho__titulo">ParkVet - Administrativo</p>
          </div>
        </header>
        
      
      <section id="relatório">
        <div class="formulario__cadastro">    
          <h3 class="formulario__titulo">Colaboradores Ativos da ParkVet</h3>
          <table id="administrativo">
            <thead id="administrativo__cabecalho">
              <tr>
                <td class="administrativo__colunas">Nome</td>
                <td class="administrativo__colunas">Matrícula</td>
                <td class="administrativo__colunas">Função</td>
                <td class="administrativo__colunas">Salário</td>
                <td class="administrativo__colunas">Inicio</td>
                <td class="administrativo__colunas">Excluir</td>
                <td class="administrativo__colunas">Editar</td>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="funcionario__nome">Mariana Rodrigues</td>
                <td class="funcionario__id">100</td>
                <td class="funcionario__cargo">Veterinária</td>
                <td class="funcionario__salario">3.000,00</td>
                <td class="funcionario__inicio">01/01/2015</td>
                <td class="funcionario__inicio"><img src="../../Public/imagens/excluir.png" 
                  alt="editar funcionario" id="imagem_tabela-excluir"></td>
                <td class="funcionario__inicio"> <a href="./editar-funcionário.html"><img src="../../Public/imagens/Editar.png" 
                  id="imagem_tabela-editar"alt="editar funcionario"></a></td>
              </tr>
              <tr>
                <td class="funcionario__nome">Maria de Lurders</td>
                <td class="funcionario__id">101</td>
                <td class="funcionario__cargo">Tosadora</td>
                <td class="funcionario__salario">1.100,00</td>
                <td class="funcionario__inicio">01/08/2015</td>
                <td class="funcionario__inicio"><img src="../../Public/imagens/excluir.png" 
                  alt="editar funcionario" id="imagem_tabela-excluir"></td>
                <td class="funcionario__inicio"> <a href="./editar-funcionário.html"><img src="../../Public/imagens/Editar.png" 
                  id="imagem_tabela-editar"alt="editar funcionario"></a></td>
              </tr>
              <tr>
                <td class="funcionario__nome">Alberto</td>
                <td class="funcionario__id">102</td>
                <td class="funcionario__cargo">Motorista do Taxi-Dog</td>
                <td class="funcionario__salario">1.100,00</td>
                <td class="funcionario__inicio">01/03/2015</td>
                <td class="funcionario__inicio"><img src="../../Public/imagens/excluir.png" 
                  alt="editar funcionario" id="imagem_tabela-excluir"></td>
                <td class="funcionario__inicio"> <a href="./editar-funcionário.html"><img src="../../Public/imagens/Editar.png" 
                  id="imagem_tabela-editar"alt="editar funcionario"></a></td>
              </tr>
              <tfoot>
                  <td class="tfoot__label">Total de Pessoal: </td>
                  <td class="funcionario__total">3</td>
              </tfoot>
            </tbody>
          </table>
          <div id="botoes">
            <button id="btn-voltar"><a href="./3-funcionario.html" >voltar</a></button>
          </div>
      </div>
      </section>>

      <footer>
        <img class="footer__logo" src="../../Public/imagens/LogoPetVet.png" alt="" />
        <p classs="footer__titulo">PetVet Manager 2021</p>
        <p class="footer__subtitulo">&copy; All rights reserved</p>
      </footer>
    </main>
  </body>
</html>

