<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../Public/imagens/cadeado.png" />
    <link rel="stylesheet" href="../../Public/css/style.css"/>
    <link rel="stylesheet" href="../../Public/css/tutor&pet.css">
    <link rel="stylesheet" href="../../Public/css/administrativo.css">
    <title>ParkVet - Administrativo - Serviços & Pacotes</title>
  </head>
  <body>
    <main>
      <header class="cabecalho">
        <a href="./ServiçosEpacotes.html"><img
          id="cabecalho__logo"
          src="../../Public/imagens/LogoPetVet.png"
          alt="Logo do ParkVet"
        /></a>
        <div>
          <h1 class="cabecalho_principal">ParkVet Manager</h1>
          <p class="cabecalho__subtitulo">
            O administrador inteligente do seu Pet Shop
          </p>
          <p class="cabecalho__titulo">ParkVet - Administrador</p>
        </div>
      </header>
    
      <section class="atualizacao">
        
        <div class="formulario__cadastro">  
          <h3 class="formulario__titulo">Serviços Oferecidos</h3>
          <table id="administrativo">
            <thead id="administrativo__cabecalho">
              <tr>
                <td class="administrativo__colunas">Serviço</td>
                <td class="administrativo__colunas">ID Serviço</td>
                <td class="administrativo__colunas"></td>
              </tr>
            </thead>
            <tbody>
                  <tr>
                  <td class="servico__nome">Banho</td>
                  <td class="servico__id">1</td>
                  <td class="funcionario__inicio"><img src="../../Public/imagens/excluir.png" 
                    alt="editar funcionario" id="imagem_tabela-excluir"></td>
                  </tr>
                  
                  <tr>
                  <td class="servico__nome">Tosa</td>
                  <td class="servico__id">2</td>
                  <td class="funcionario__inicio"><img src="../../Public/imagens/excluir.png" 
                    alt="editar funcionario" id="imagem_tabela-excluir"></td>
                  </tr>
                  <tr>
                  <td class="servico__nome">Taxi-Dog</td>
                  <td class="servico__id">3</td>
                  <td class="funcionario__inicio"><img src="../../Public/imagens/excluir.png" 
                    alt="editar funcionario" id="imagem_tabela-excluir"></td>
                  </tr>
                  <tfoot>
                      <td class="tfoot__label">Total de Serviços: </td>
                      <td class="tfoot__dados">3</00td>
                  </tfoot>
            </tbody>
          </table>

          <div >
            <button class="formulario__button"><a href="./cadastrar_servicos.html">Cadastrar</a></button>
          </div>
          
          <h3 class="formulario__titulo">Pacotes Disponíveis</h3>
          <table id="administrativo">
            <thead id="administrativo__cabecalho">
              <tr>
                <td class="administrativo__colunas">Pacote</td>
                <td class="administrativo__colunas">ID Pacote</td>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="pacote__nome">Individual</td>
                <td class="pacote__id">P1</td>
              </tr>
              <tr>
                <td class="pacote__nome">Compartilhado</td>
                <td class="pacote__id">P2</td>
              </tr>
              <tfoot>
                <td class="tfoot__label">Total de Pacotes: </td>
                <td class="tfoot__dados">2</00td>
                </tfoot>
              </tbody>
          </table>

        </div>
        <div id="botoes">
          <button id="btn-voltar"><a href="./2-ServiçosEpacotes.html">Voltar</a></button>
        </div>
      </section>

      <footer>
        <img class="footer__logo" src="../imagens/LogoPetVet.png" alt="" />
       
        <p classs="footer__titulo">PetVet Manager 2021</p>
        <p class="footer__subtitulo">&copy; All rights reserved</p>
      </footer>
    </main>
  </body>
</html>
