<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ParkVet - Pacotes</title>
    <link rel="icon" href="../../Public/imagens/LogoPetVet.png" />
    <link rel="stylesheet" href="../../Public/css/style.css"/>
    <link rel="stylesheet" href="../../Public/css/tutor&pet.css">
  </head>

  <body>
    <main>
      <header class="cabecalho">
        <a href="./servicosEpacotes.html"><img
          id="cabecalho__logo"
          src="../../Public/imagens/LogoPetVet.png"
          alt="Logo do ParkVet"
        /></a>
        <div>
          <h1 class="cabecalho_principal">ParkVet Manager</h1>
          <p class="cabecalho__subtitulo">
            O administrador inteligente do seu Pet Shop
          </p>
          <p class="cabecalho__titulo">ParkVet - Funcionário</p>
        </div>
      </header>
      
      <section class="formulario__cadastro">
        <h2 class="pagina-titulo">P2 - Pacote Compartilhado</h2>
        <div class="pacote__conteudo">
          
          <div class ="campo__nome-id"> 
            <div id="campo__nome-tutor">
              <label for="tutor-nome" id="formulario__label">Nome do Tutor</label><br>
              <input type="text"id="tutor-nome" id="disabledInput" name="nomeTutor" placeholder=" Agusto de Oliverira Souza" class="input__nome">
            </div>
            <div id="campo__id-tutor">
              <label for="tutor-id" id="formulario__label">ID Tutor</label><br>
              <input type="number"id="tutor-id" placeholder="001" class="input__id" disabled>
            </div><br>
          </div>

          <button class="btn-botoes" id="novo-pet"><a href="#">Pesquisar</a></button>

          <div class="campo__nome-pet__id-tutor">
            <div id="campo__nome-pet">
              <label for="tutor-nome" id="formulario__label">Nome do Pet</label><br>
              <input type="text"id="pet-nome" placeholder="Bob" class="input__pet" disabled>
            </div>
    
            <div id="campo__id-tutor">
              <label for="tutor-id" id="formulario__label">ID Pet</label><br>
              <input type="number"id="tutor-id" placeholder="001-01" class="input__id" disabled><br>
            </div>
          </div>
          <button class="btn-adicionar" id="adiciona">+</button>

          <div class="campo__pacotes">
            <div>
              <label for="banhos" class="pacotes__label">Banhos</label>
              <div>
                <input type="number" id="banhos" placeholder="04" class="input__pacotes" disabled>
              </div>
            </div>
            <div>
              <label for="utilizados" class="pacotes__label">Utilizados</label>
              <div>
                <input type="number" id="utilizados"  placeholder="01" class="input__pacotes"disabled>
              </div>
            </div>
          </div>

          <div id="botoes">
            <button id="btn-voltar"><a href="./pacotes.html" >Voltar</a></button>
            <button class="btn-botoes"><a href="./agendar_pacotes.html">Agendar</a></button>
          </div>
        </div>

    </section>

      <footer>
        <img class="footer__logo" src="../../Public/imagens/LogoPetVet.png" alt=""/>
        <p classs="footer__titulo">PetVet Manager 2021</p>
        <p class="footer__subtitulo">&copy; All rights reserved</p>
      </footer>

    </main>
  </body>
</html>
