<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ParkVet - Pacote</title>
    <link rel="icon" href="../../Public/imagens/LogoPetVet.png" />
    <link rel="stylesheet" href="../../Public/css/style.css"/>
    <link rel="stylesheet" href="../../Public/css/tutor&pet.css">
  </head>
  <body>
    <main>
      <header class="cabecalho">
        <a href="./servicosEpacotes.html"><img
          id="cabecalho__logo"
          src="../../Public/imagens/LogoPetVet.png"
          alt="Logo do ParkVet"
        /></a>
        <div>
          <h1 class="cabecalho_principal">ParkVet Manager</h1>
          <p class="cabecalho__subtitulo">
            O administrador inteligente do seu Pet Shop
          </p>
          <p class="cabecalho__titulo">ParkVet - Funcionário</p>
        </div>
      </header>
      
      <section class="a-definir">
          
        <div id="pacote-visualizacao">
            <h4 class="formulario__titulo">Dados:</h4>
            <h4 class="dados-cliente">Nome do Tutor: João Vitor</h4>
            <h4 class="dados-cliente">Id: 001</h4><br>
            <h4 class="campo__dados-pet">Nome do Pet: Bolinha</h4>
            <h4 class="compo__dados-pet">Id: 001-01</h4>
            
            <table id="pacote">
              <thead id="pacote__cabecalho">
                <tr>
                  <td class="pacote__colunas">Id Pacote </td>
                  <td class="pacote__colunas">Numero do Pacote</td>
                  <td class="pacote__colunas">Data</td>
                  <td class="pacote__colunas">Horario</td>
                  <td class="pacote__colunas">Taxidog</td>
                  <td class="pacote__colunas">Pagamento Taxidog</td>
                  <td class="pacote__colunas">Pagamento Pacote</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="pacote__dados">2001</td>
                  <td class="pacote__dados">01</td>
                  <td class="pacote__dados">20/10/2021</td>
                  <td class="pacote__dados">14:00</td>
                  <td class="pacote__dados">Sim</td>
                  <td class="pacote__dados">Pago</td>
                  <td class="pacote__dados">Pendente</td>
              </tbody>
            </table>
           </div>
      </section>

      <footer>
        <img class="footer__logo" src="../../Public/imagens/LogoPetVet.png" alt="" />
        <p classs="footer__titulo">PetVet Manager 2021</p>
        <p class="footer__subtitulo">&copy; All rights reserved</p>
      </footer>
    </main>
  </body>
</html>
