<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ParkVet - Pacotes</title>
    <link rel="icon" href="../../Public/imagens/LogoPetVet.png" />
    <link rel="stylesheet" href="../../Public/css/style.css"/>
    <link rel="stylesheet" href="../../Public/css/tutor&pet.css">
  </head>
  <body>
    <main>
      <header class="cabecalho">
        <a href="./servicosEpacotes.html"><img
          id="cabecalho__logo"
          src="../../Public/imagens/LogoPetVet.png"
          alt="Logo do ParkVet"
        /></a>
        <div>
          <h1 class="cabecalho_principal">ParkVet Manager</h1>
          <p class="cabecalho__subtitulo">
            O administrador inteligente do seu Pet Shop
          </p>
          <p class="cabecalho__titulo">ParkVet - Funcionário</p>
        </div>
      </header>
      
   
      <section class="pacotes">
        <h2 class="pagina-titulo">Pacotes</h2>
        <div class="pacotes__conteudo">
            <a href="./pacote-individual.html"> <img src="../../Public/imagens/Pacote 1.png" alt="Imagem com informação do pacote 1 - invididual" id="imagens__pacotes"></a>
            <a href="./pacote-compartilhado.html"> <img src="../../Public/imagens/Pacote 2.png" alt="Imagem com informação do pacote 2 - compartilhado" id="imagens__pacotes"></a>
        </div>
        
        <div id="botoes">
            <button id="btn-voltar"><a href="./servicosEpacotes.html" >Voltar</a></button>
          </div>
      </section>


      <footer>
        <img class="footer__logo" src="../../Public/imagens/LogoPetVet.png" alt=""/>
        <p classs="footer__titulo">PetVet Manager 2021</p>
        <p class="footer__subtitulo">&copy; All rights reserved</p>
      </footer>
    </main>
  </body>
</html>
