<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ParkVet - Agendamentos</title>
    <link rel="icon" href="../../Public/imagens/LogoPetVet.png" />
    <link rel="stylesheet" href="../../Public/css/style.css"/>
    <link rel="stylesheet" href="../../Public/css/tutor&pet.css">
    
  </head>
  <body>
    <main>
      <header class="cabecalho">
        <a href="./agenda"><img
          id="cabecalho__logo"
          src="../../Public/imagens/LogoPetVet.png"
          alt="Logo do ParkVet"
        /></a>
        <div>
          <h1 class="cabecalho_principal">ParkVet Manager</h1>
          <p class="cabecalho__subtitulo">
            O administrador inteligente do seu Pet Shop
          </p>
          <p class="cabecalho__titulo">ParkVet - Funcionário</p>
        </div>
    </header>

      <nav >
        <ul class="navegacao">
          <li><a href="../cadastro">Cadastro</a></li>
          <li><a href="../servicosEpacotes">Serviços & Pacotes</a></li>
          <li><a href="../agenda">Agendamento</a</li>
          <li><a href="../Vendas/venda">Vendas</a></li>
        </ul>
      </nav>

        <section class="agendamentos">
          <h2 class="pagina-titulo"> Agendamentos de Pets</h2>
            <img src="../../Public/imagens/agendamentos.png" alt=" Imagem com duas mulheres cuidando de pets, a primeira está dando banho no gato e a segundo aparando pelo do cachorro" id="imagem__agendamentos">
            <div id="botoes__centralizados">
                <button class="btn-botoes"><a href="./agenda" >Consultar</a></button>
            </div>
        </section>
        
      <footer>
        <img class="footer__logo" src="../../Public/imagens/LogoPetVet.png" alt="" />
        <p classs="footer__titulo">PetVet Manager 2021</p>
        <p class="footer__subtitulo">&copy; All rights reserved</p>
      </footer>
    </main>