<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ParkVet - Agendados</title>
    <link rel="icon" href="../../Public/imagens/LogoPetVet.png" />
    <link rel="stylesheet" href="../../Public/css/style.css" />
    <link rel="stylesheet" href="../../Public/css/tutor&pet.css" />
    <link rel="stylesheet" href="../../Public/css/agendados.css" />
  </head>
  <body>
    <main>
      <header class="cabecalho">
        <a href="./agendamentos.html"><img
          id="cabecalho__logo"
          src="../../Public/imagens/LogoPetVet.png"
          alt="Logo do ParkVet"
        /></a>
        <div>
          <h1 class="cabecalho_principal">ParkVet Manager</h1>
          <p class="cabecalho__subtitulo">
            O administrador inteligente do seu Pet Shop
          </p>
          <p class="cabecalho__titulo">ParkVet - Funcionário</p>
        </div>
      </header>
      <section class="filtro_data">
       
      </section>

      <form class="formulario__cadastro">
        <h2 class="pagina-titulo">Agenda</h2>
        

        <div id="pesquisa__horario">
          <label for="data_servico" id="formulario__label">Filtrar por data:</label><br />
          <div id="agendar-servicos">
            <input type="date" id="data_servico"/>
            <button id="botao-filtrar" class="btn-botoes">Filtrar</button>
          </div> 
          
        </div>
         
        <div id="serviços">
          <h3 class="formulario__titulo">Serviços Agendados</h3>
          <table id="agenda">
            <thead id="agendados__cabecalho">
              <tr>
                <td class="agenda__colunas">data</td>
                <td class="agenda__colunas">horário</td>
                <td class="agenda__colunas">nome do pet </td>
                <td class="agenda__colunas">nome do tutor</td>
                <td class="agenda__colunas">serviço / pacote</td>
                <td class="agenda__colunas">pago</td>
                <td class="agenda__colunas"></td>
              </tr>
            </thead>
            <tbody>
              <tr class="clientes-agendados">
                <td class="agenda__data" >02/12/2021</td>
                <td class="agenda__horario">14:30</td>
                <td class="agenda__nomePet">Bob</td>
                <td class="agenda__nomeCliente">Luiza</td>
                <td class="agenda__servico">Banho</td>
                <td class="agenda__pagamento">OK!</td>
                <td class="agenda__excluir">
                  <img
                    id="imagem_tabela-excluir"
                    src="../../Public/imagens/excluir.png"
                  />
                </td>
              </tr>
              <tr class="clientes-agendados">
                <td class="agenda__data">17/11/2021</td>
                <td class="agenda__horario">14:30</td>
                <td class="agenda__nomePet">Belinha</td>
                <td class="agenda__nomeCliente">Cláudio</td>
                <td class="agenda__servico">P2</td>
                <td class="agenda__pagamento">pct</td>
                <td class="agenda__excluir">
                  <img
                    id="imagem_tabela-excluir"
                    src="../../Public/imagens/excluir.png"
                  />
                </td>
              </tr>
            </tr>
            <tr class="clientes-agendados">
              <td class="agenda__data">27/11/2021</td>
              <td class="agenda__horario">15:30</td>
              <td class="agenda__nomePet">Faísca</td>
              <td class="agenda__nomeCliente">Eduardo</td>
              <td class="agenda__servico">Tosa</td>
              <td class="agenda__pagamento"><a href="../2-ServiçosEpacotes/pagamento-pendente.html">Pend</a></td>
              
              <td class="agenda__excluir">
                <img
                  id="imagem_tabela-excluir"
                  src="../../Public/imagens/excluir.png"
                />
              </td>
            </tr>
            </tbody>
          </table>
         </div>
         <div id="botoes">
          <button class="btn-botoes"><a href="../2-ServiçosEpacotes/servicosEpacotes.html">Agendar</a></button>
          <button class="btn-botoes" id="botao-atualizar">Atualizar</button>

        </div>
        <div id="botoes">
          <button id="btn-voltar"><a href="./agendamentos.html" >Voltar</a></button>
        </div>
      </div>
       </div>
      </form>
      <footer>
        <img class="footer__logo" src="../imagens/LogoPetVet.png" alt="" />
        <p classs="footer__titulo">PetVet Manager 2021</p>
        <p class="footer__subtitulo">&copy; All rights reserved</p>
      </footer>
    </main>

    <script src="..\js\3-AgendamentosJS\agendamentos-agendados.js"></script>
  </body>
</html>
